@charset "UTF-8";
/* line 1, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 14, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* This helps to make newer HTML5 elements behave like DIVs in older browers */
/* line 25, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Line-height should always be unitless! */
/* line 30, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
body {
  line-height: 1.5;
  background: white;
}

/* line 35, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
li {
  list-style: none;
}

/* Tables still need 'cellspacing="0"' in the markup. */
/* line 40, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* float:none prevents the span-x classes from breaking table-cell display */
/* line 45, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}

/* line 50, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
table, th, td {
  vertical-align: middle;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
/* line 55, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

/* line 56, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
blockquote, q {
  quotes: "" "";
}

/* Remove annoying border on linked images. */
/* line 59, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
a img {
  border: none;
}

/* Remember to define your own focus styles! */
/* line 62, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
:focus {
  outline: 0;
}

/* line 64, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 65, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
html[xmlns] .clearfix {
  display: block;
}

/* line 66, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
* html .clearfix {
  height: 1%;
}

@font-face {
  font-family: 'Terminal Dosis';
  font-style: normal;
  font-weight: 400;
  src: local("Terminal Dosis Book"), local("TerminalDosis-Book"), url("http://themes.googleusercontent.com/static/fonts/terminaldosis/v3/_IcvjW_kWHsIHjjUsLbdpKti5uXGbodo2Scs19s1bWs.woff") format("woff");
}

/* line 76, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.no-right-margin {
  margin-right: 0 !important;
}

/* line 78, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
body {
  font-family: 'Terminal Dosis', sans-serif;
}

/* line 82, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.align-center {
  margin: 0 auto;
  overflow: hidden;
  width: 1000px;
}

/* line 88, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
header {
  margin: 40px 0 20px 0;
}

/** Rodapé sempre embaixo **/
/* line 94, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 100, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.all-content {
  background: #dddddd url(/assets/body-background-7d341d689b3cbf60a95340b52539f221.png) repeat-x;
  min-height: 100%;
  position: relative;
}

/* line 106, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
button.shiny-blue {
  cursor: pointer;
}

/* line 110, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
section.faixa {
  background: #B7002E;
  border-top: 1px solid #DDD;
  color: #FFF;
  height: 29px;
  line-height: 29px;
  text-align: right;
}
/* line 117, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
section.faixa a {
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
/* line 123, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
section.faixa a.open-box {
  background: #FFF;
  -webkit-transition: background-color .5s linear;
  transition: background-color .5s linear;
  -moz-transition: background-color .5s linear;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #676767;
  display: block;
  float: right;
  height: 19px;
  line-height: normal;
  margin: 6px 0 0 0;
  padding: 4px 10px 0 0;
  width: 110px;
}

/* line 141, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
section.login {
  margin: 0 auto;
  position: relative;
  width: 1000px;
}

/* line 146, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
div#login-box {
  background: #FFF;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 155px;
  overflow: auto;
  padding: 10px 10px 10px 20px;
  position: absolute;
  right: 0;
  width: 370px;
  top: 0;
  z-index: 200;
}
/* line 159, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
div#login-box form label.hide {
  display: none;
}
/* line 160, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
div#login-box form input[type="text"], div#login-box form input[type="password"], div#login-box form input[type="email"] {
  border: 1px solid #D1D1D1;
  font-family: arial;
  font-size: 15px;
  font-weight: normal;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  width: 94%;
}
/* line 170, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
div#login-box form #user_password {
  margin-bottom: 10px;
}
/* line 171, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
div#login-box form #user_remember_me {
  margin-top: 33px;
}
/* line 174, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
div#login-box form button.shiny-blue {
  background-color: #5284E4;
  background-image: -moz-linear-gradient(center top, #5284e4 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  border-color: #1F58CC #1B4DB3 #174299;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 2px 0 rgba(57, 140, 255, 0.8) inset;
  color: #FFFFFF;
  float: right;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 7px 0;
  text-shadow: 0 -1px 1px #1a5ad9;
  width: 100px;
}

/* line 194, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
a.logo {
  display: block;
  float: left;
}

/* line 199, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.menu {
  background: url(/assets/fundo-menu-6a33f48c182fe9e3b1d470dcdd824b22.png) repeat-x;
  border-radius: 10px;
  float: right;
  padding-left: 50px;
  width: 455px;
}
/* line 205, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.menu li {
  border-right: 1px solid #E6E6E7;
  border-left: 1px solid #D7D7D8;
  float: left;
  height: 56px;
  line-height: 56px;
  position: relative;
}
/* line 213, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.menu li span a {
  color: #5E5B5B;
  display: block;
  font-size: 20px;
  padding: 0 20px;
  text-decoration: none;
}
/* line 220, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.menu li span a.last {
  border-right: 1px solid #E6E6E7;
}
/* line 224, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.menu li span.seta {
  display: none;
}
/* line 226, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.menu li.selected {
  background: url(/assets/li-selected-790fa2a439ee2e3ed28b985dc69ae0a9.png) repeat-x;
}
/* line 228, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.menu li.selected span.seta {
  background: url(/assets/li-selected-seta-125cb9f576a95dff972f8d0bd15297b8.png) no-repeat;
  bottom: -9px;
  display: block;
  height: 9px;
  left: 50%;
  margin-left: -9px;
  position: absolute;
  width: 18px;
}

/* line 241, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.video {
  float: left;
  height: 290px;
  position: relative;
  width: 438px;
}
/* line 246, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.video .position-video {
  box-shadow: 0px 1px 15px #333;
  height: 290px;
  margin: 50px 0 0 60px;
  width: 438px;
  border: 1px solid #CCC;
}
/* line 257, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.video .sombra-left-top {
  background: url(/assets/border-top-left-7c8ff12ec9cc62296d06eff7920befa8.png) no-repeat;
  position: absolute;
  left: -7px;
  width: 331px;
  height: 252px;
  top: -7px;
  z-index: 1000;
}
/* line 267, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.video .sombra-bottom-right {
  background: url(/assets/border-bottom-right-a7b376d37a4e4931b6c3adfff06523e0.png) no-repeat;
  bottom: -135px;
  height: 322px;
  position: absolute;
  right: -147px;
  width: 368px;
  z-index: 1000;
}

/* line 279, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.content {
  padding-bottom: 40px;
  /* Mesma Altura do Rodapé */
}

/* line 283, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.form_registration {
  color: #676767;
  float: right;
  width: 375px;
}
/* line 287, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.form_registration p {
  font-size: 17px;
  margin: 40px 0 20px 0;
  text-align: justify;
}
/* line 292, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.form_registration h5 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 298, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.form_registration form label {
  display: none !important;
}
/* line 299, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.form_registration form input[type="text"], .form_registration form input[type="password"], .form_registration form input[type="email"] {
  border: 1px solid #D1D1D1;
  color: #6B6B6B;
  font-family: arial;
  font-size: 15px;
  font-weight: normal;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  width: 96%;
}
/* line 310, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.form_registration form input.error {
  border-color: red;
}
/* line 311, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.form_registration form input#user_username {
  background: white url(/assets/fundo-input-user-da27398e42e7de61b7bbcc511d14e803.png) 5px 14px no-repeat;
  font-size: 24px;
  text-indent: 68px;
}
/* line 316, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.form_registration form button.shiny-blue {
  background-color: #5284E4;
  background-image: -moz-linear-gradient(center top, #5284e4 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  border-color: #1F58CC #1B4DB3 #174299;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 2px 0 rgba(57, 140, 255, 0.8) inset;
  color: #FFFFFF;
  float: right;
  font-size: 18px;
  margin-right: 3px;
  padding: 7px 0;
  text-shadow: 0 -1px 1px #1a5ad9;
  width: 150px;
}
/* line 333, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.form_registration a {
  color: #676767;
  font-size: 13px;
  text-decoration: none;
}
/* line 337, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.form_registration a:hover {
  text-decoration: underline;
}

/* line 343, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.bullets {
  clear: both;
}
/* line 345, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.bullets li {
  float: left;
  font-size: 18px;
  margin: 50px 20px 50px 20px;
  width: 300px;
}
/* line 350, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.bullets li h4 {
  color: #676767;
  font-size: 23px;
  text-transform: uppercase;
}
/* line 355, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.bullets li p {
  color: #9D9D9D;
  text-transform: lowercase;
}

/** Get Started Page **/
/* line 363, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.image-box {
  float: left;
  margin-top: 20px;
}

/* line 368, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.box-text {
  color: #676767;
  float: right;
  margin-top: 20px;
}
/* line 372, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.box-text p {
  font-size: 19px;
}

/** Contact Page **/
/* line 379, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.contact-page h4 {
  color: #B7002E;
  font-size: 23px;
  margin-bottom: 20px;
}
/* line 385, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.contact-page form label {
  display: none !important;
}
/* line 386, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.contact-page form input[type="text"], .contact-page form input[type="password"], .contact-page form input[type="email"], .contact-page form textarea {
  border: 1px solid #D1D1D1;
  display: block;
  font-family: arial;
  font-size: 15px;
  font-weight: normal;
  height: 30px;
  margin-bottom: 20px;
  padding: 5px;
  width: 46%;
}
/* line 397, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.contact-page form input.error, .contact-page form textarea.error {
  border-color: red;
}
/* line 398, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.contact-page form textarea {
  height: 80px;
}
/* line 401, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.contact-page form button.shiny-blue {
  background-color: #5284E4;
  background-image: -moz-linear-gradient(center top, #5284e4 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  border-color: #1F58CC #1B4DB3 #174299;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 2px 0 rgba(57, 140, 255, 0.8) inset;
  color: #FFF;
  font-size: 18px;
  margin-right: 3px;
  margin-left: 322px;
  padding: 7px 0;
  text-shadow: 0 -1px 1px #1a5ad9;
  width: 150px;
}

/* line 420, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
footer {
  background: #898989;
  bottom: 0;
  color: #FFF;
  font-size: 13px;
  height: 27px;
  /* Mesma Altura do Rodapé */
  line-height: 27px;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* line 432, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
a.trigger-form {
  position: absolute;
  text-decoration: none;
  top: 80px;
  right: 0;
  font-size: 16px;
  letter-spacing: -1px;
  font-family: verdana, helvetica, arial, sans-serif;
  color: #fff;
  padding: 20px 15px 20px 40px;
  font-weight: 700;
  background: #333333;
  border: 1px solid #444444;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  display: block;
  z-index: 999;
}

/* line 454, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
a.trigger-form:hover {
  position: absolute;
  text-decoration: none;
  top: 80px;
  right: 0;
  font-size: 16px;
  letter-spacing: -1px;
  font-family: verdana, helvetica, arial, sans-serif;
  color: #fff;
  padding: 20px 20px 20px 40px;
  font-weight: 700;
  border: 1px solid #444444;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  display: block;
}

/* line 474, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
#page-form {
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
  background: #000000;
  border: 1px solid #111111;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  width: 80px;
  height: auto;
  padding: 30px 130px 30px 30px;
  filter: alpha(opacity=85);
  opacity: .85;
  z-index: 999;
}

/* line 493, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
#page-form p {
  margin-bottom: 15px;
  color: #cccccc;
}

/* line 498, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
#page-form a, #page-form a:visited {
  margin: 0;
  padding: 0;
  color: #9FC54E;
  text-decoration: none;
  border-bottom: 1px solid #9FC54E;
}

/* line 506, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
#page-form a:hover, #page-form a:visited:hover {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

/* line 514, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
p.save {
  background: url(/assets/loading-214c32a3f3d7a219757ea37f31eb25ac.gif) no-repeat;
  text-indent: -5555em;
}

/* line 520, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.field_with_errors input {
  border: 1px solid red !important;
}

/* line 523, /Users/ric/workspace/sobre/app/assets/stylesheets/application.css.scss.erb */
.formError {
  color: red;
}
