.image-box
  = image_tag "layouts.png"

.box-text
  %p.text-description
    Sob.re é um sistema de <b>criação rápida de páginas web.</b><br />
    A partir de templates pré-definidos é possível criar uma página<br />
    para sua empresa ou publicar suas informações de contato,<br />
    preenchendo apenas um <b>curto formulário.</b><br />
    <br />
    O Sob.re é <b>simples, rápido e fácil de utilizar.</b> Feito para você<br />
    que não pode investir em um webdesigner profissional ou que<br />
    precisa o quanto antes de uma página na internet.<br />
