!!! 5
%html{:lang => "pt-br"}
  %head
    %meta{:charset => "UTF-8"}
    = stylesheet_link_tag 'themes/01'
    %title= yield :title

  %body
    .all-content
      = yield

    %footer
      .align-center
        %p Sob.re | Todos os direitos reservados
      = yield :footer
