%ul.menu
  %li
    %span.seta
    %span
      = link_to "Home", "/"
  %li
    %span.seta
    %span
      = link_to "Blog", "#"
  %li.selected
    %span.seta
    %span
      = link_to "Conheça", "#"
  %li
    %span.seta
    %span
      = link_to "Contato", "#", :class => "last"