%h1 Bem-vindo ao Sobre
%p Bro, ta sendo implementado ainda. Keep calm!

= link_to 'Sign in', new_user_session_path
= link_to 'Sign up', new_user_registration_path
= link_to 'Edit user', edit_user_registration_path if current_user
= link_to 'Logout', destroy_user_session_path, :method => :delete if current_user
